@import "tailwindcss";

:root {
  --background: #eeeeee;
  --color-blue-500: #0b84fe;
  --color-blue-950: #172554;
  --color-gray-700: #374151;
  --color-gray-900: #121515;
}

@theme {
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 783px;
  --breakpoint-lg: 1028px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1700px;
}

* {
  font-family: var(--font-source-sans-3);
}

body {
  background: var(--background);
  overflow-x: hidden;
  color: var(--color-gray-900);
  font-size: 0.75em;
}

h1 {
  font-size: 3.5em;
  font-weight: 600;
  font-family: var(--font-rubik);
  line-height: 110%;
}

h2 {
  font-size: 1.6em;
  font-family: var(--font-rubik);
}

h3 {
  font-size: 1.1em;
  font-family: var(--font-rubik);
}

b {
  font-size: 1.75em;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

p {
  font-size: 1.75em;
  font-weight: 400;
  font-family: var(--font-source-sans-3);
  margin-bottom: 0.2em;
}

.text-h1 {
  font-size: 2.5em;
  font-weight: 800;
  font-family: var(--font-rubik);
  line-height: 110%;
}
.text-h2 {
  font-size: 1.6em;
  font-family: var(--font-rubik);
}
.text-h3 {
  font-size: 1.1em;
  font-family: var(--font-rubik);
}
.text-body {
  font-size: 1em;
  font-weight: 600;
}
.text-bold {
  font-weight: 600;
}
.text-light {
  font-size: 0.9em;
  font-weight: 400;
}

.text-header {
  line-height: 150%;
  font-size: 1.35em;
  font-weight: 550;
  color: var(--color-gray-700);
  position: relative;
  transition: all 0.2s;
  &:hover {
    color: var(--color-blue-900);
  }
}

.container {
  max-width: 1700px;
  margin-inline: auto;
  padding-left: 0.5rem;
  width: 100%;
  padding-right: 0.5rem;
}

/* TODO: Deixar responsivo */

.hero-section {
  clip-path: ellipse(90em 90% at 50% 0%);
}

label {
  cursor: text;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* 3xl */
@media (max-width: 1700px) {
  .container {
    max-width: 1536px;
  }
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1026px;
  }
}

/* lg */
@media (max-width: 1026px) {
  .container {
    max-width: 780px;
  }
  body {
    font-size: 16px;
  }
}

/* md */
@media (max-width: 780px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
