@import "tailwindcss";

:root {
  --background: #EEEEEE;
  --blue-500: #0B84FE;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-rubik);
  --font-mono: var(--font-source-sans-3);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5em;
  font-weight: 800;
  font-family: var(--font-rubik);
  line-height: 110%;
}

h2 {
  font-size: 1.6em;
  font-family: var(--font-rubik);
}

h3 {
  font-size: 1.1em;
  font-family: var(--font-rubik);
}

b {
  font-weight: 700;
}

p {
  margin-bottom: 0.2em;
}
